@font-face {
  font-family: 'iconfont-custom'; /* Project id 5061622 */
  src:
    url('iconfont.woff2?t=1768642121766') format('woff2'),
    url('iconfont.woff?t=1768642121766') format('woff'),
    url('iconfont.ttf?t=1768642121766') format('truetype');
}

.iconfont-custom {
  font-family: 'iconfont-custom' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconfont-custom-shizhong:before {
  content: '\e787';
}

.iconfont-custom-quedingwanchengtubiao:before {
  content: '\e617';
}

.iconfont-custom-gantanhaotubiao:before {
  content: '\e65c';
}

.iconfont-custom-ing:before {
  content: '\e606';
}

.iconfont-custom-shizhongtubiao:before {
  content: '\e604';
}

.iconfont-custom-qichuang-02-03:before {
  content: '\e618';
}

.iconfont-custom-jiaohuogengkuaiicon:before {
  content: '\e607';
}

.iconfont-custom-qiehuanjiantou:before {
  content: '\e666';
}

.iconfont-custom-wenhao:before {
  content: '\e6ab';
}

.iconfont-custom-wenhao-xianxingyuankuang:before {
  content: '\e8e9';
}

.iconfont-custom-jihua:before {
  content: '\e639';
}

.iconfont-custom-icon-test:before {
  content: '\e9ef';
}

.iconfont-custom-lianjie:before {
  content: '\e603';
}

.iconfont-custom-wuliu1:before {
  content: '\e75f';
}

.iconfont-custom-cangku:before {
  content: '\e616';
}

.iconfont-custom-circular-connection-copy:before {
  content: '\e655';
}

.iconfont-custom-liepeizhi1:before {
  content: '\e657';
}

.iconfont-custom-liepeizhi:before {
  content: '\e6f7';
}

.iconfont-custom-gouwuche1:before {
  content: '\e602';
}

.iconfont-custom-cangku_o:before {
  content: '\eb52';
}

.iconfont-custom-wuliu:before {
  content: '\e622';
}

.iconfont-custom-caiwu:before {
  content: '\e623';
}

.iconfont-custom-caigouguanli-caigoushezhi:before {
  content: '\e643';
}

.iconfont-custom-xiazai1:before {
  content: '\e665';
}

.iconfont-custom-bumen:before {
  content: '\e6a9';
}

.iconfont-custom-xiazai:before {
  content: '\e621';
}

.iconfont-custom-xiazaitubiao:before {
  content: '\e6a8';
}

.iconfont-custom-xiangzuo2:before {
  content: '\e615';
}

.iconfont-custom-xiangyou2:before {
  content: '\e61c';
}

.iconfont-custom-quxiaoguding:before {
  content: '\e601';
}

.iconfont-custom-gudingzaizuoce:before {
  content: '\e65d';
}

.iconfont-custom-shouqizhankai-zhankai:before {
  content: '\e619';
}

.iconfont-custom-shibai:before {
  content: '\e8c5';
}

.iconfont-custom-chenggong:before {
  content: '\e8c3';
}

.iconfont-custom-jiahao:before {
  content: '\eaf3';
}

.iconfont-custom-yanjing_xianshi:before {
  content: '\eb46';
}

.iconfont-custom-shezhi:before {
  content: '\e663';
}

.iconfont-custom-biaogeshezhi:before {
  content: '\e709';
}

.iconfont-custom-hangshezhi:before {
  content: '\e777';
}

.iconfont-custom-tishi:before {
  content: '\e72b';
}

.iconfont-custom-quanping:before {
  content: '\e660';
}

.iconfont-custom-ren3:before {
  content: '\e627';
}

.iconfont-custom-remen:before {
  content: '\e614';
}

.iconfont-custom-shanchu:before {
  content: '\e624';
}

.iconfont-custom-bingzhuangtu:before {
  content: '\e70e';
}

.iconfont-custom-setting:before {
  content: '\e630';
}

.iconfont-custom-shuaxin:before {
  content: '\e647';
}

.iconfont-custom-fuwuanli:before {
  content: '\e6ae';
}

.iconfont-custom-success:before {
  content: '\e67f';
}

.iconfont-custom-jincou:before {
  content: '\e648';
}

.iconfont-custom-shuju_qushi:before {
  content: '\e66b';
}

.iconfont-custom-notice:before {
  content: '\e600';
}

.iconfont-custom-edit:before {
  content: '\e683';
}

.iconfont-custom-charulianjie:before {
  content: '\ec7f';
}
